@CHARSET "UTF-8";  /* 문자셋 인코딩 방식 */
body{ /* body 태그 디자인 */
  font-family: 맑은 고딕; /* 전체 글꼴 */
  font-size: 120%; /* 전체 글자 크기 */
  line-height: 2;  /* 줄 간격 */
  color : white;   /* 전체 글자색 */
  background-color: green; /*배경색*/
}
.control-label{color : black;}     /* 슬라이더 제목색 */
a{ /* 앵커 태그 */ 
   text-decoration: none;  /* 앵커 태그 속성(밑줄) 제거 */
}
a:hover{ /* 앵커 태그 마우스 오버 시 */
   text-decoration: none;
}
.text_title{ color : red;} /*  Slider value : 텍스트 색상 */
.text{ /* 텍스트 상자 */
  border:1px solid green;  /* 테두리 */
  border-radius:15px;      /* 모서리 둥글게 */
  text-align:center;       /* 텍스트 가운데 정렬 */
}
.play{	/* Start 버튼 디자인 */
  color: red;
  font : bold;
}
.play:hover{  /* Start 버튼 마우스 오버 시 */	 
	cursor:pointer; cursor:hand; /* 커서를 손가락 모양으로 */
	font-size : 15px;            /* 글자 크기 */
	border:1px solid pink;       /* 테두리 지정 */
	border-radius:15px;          /* 모서리가 둥근 사각형 */
	font-weight:bold;            /* 글꼴 유형*/
	padding:2px;                 /* 안쪽 여백 */    
}

